* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --black: #000;
  --text-color: #333;
}

html {
  font-size: 62.5%;
}

a, button, [tabindex] {
  text-decoration: none;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}