.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1150px;
  min-height: 1000px;
  display: flex;
  padding: 0 var(--default-layout-horizantal-spacer);
}

.content {
  flex: 1;
}